@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Zamówienie zostało opłacone! :)</h1>
        Numer twojego zamówienia: @Model <br /><br />
        <img src="~/images/dach-czterospadowy.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Sztossss! <br />
        <a asp-area ="Admin" 
        asp-controller="Order" 
        asp-action="Details" 
        asp-route-orderId="@Model" class="btn btn-primary">Powrót do zamówienia</a>
    </div>
</div>