@model List<Category>

<h1>Lista Kategorii</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Kategoria
        </th>
        <th>
            Kolejność wyświetlania
        </th>
    </tr>
    <tbody>
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
            {
             <tr>
                    <td>@obj.Name</td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
